* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0 !important;
}

.opaque {
  opacity: 1 !important;
}

.height-0 {
  max-height: 0 !important;
}

.no-overflow {
  overflow: hidden;
  max-height: 100vh;
  height: 100vh;
}

.show-overflow {
  overflow: auto !important;
}

.no-pointer-events {
  pointer-events: none !important;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

p, li {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 18px;
}

h2 {
  font-size: 32px;
  font-family: "Ropa Sans", sans-serif;
}

h3 {
  font-family: "Ropa Sans", sans-serif;
  font-size: 28px;
}

h4 {
  font-size: 24px;
  font-family: "Ropa Sans", sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 80px;
  height: 90vh;
  min-height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-height: 1000px) {
  .navbar {
    height: 80vh;
  }
}

@media only screen and (max-width: 1080px) {
  .navbar {
    height: 90vh;
    min-height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 60px;
  }
}

@media only screen and (max-width: 499px) {
  .navbar {
    min-height: 300px;
    padding: 40px;
    height: 60vh;
  }
}

@media only screen and (max-height: 499px) {
  .navbar {
    min-height: 300px;
    height: 400px;
  }
}

.navbar a {
  text-decoration: none;
}

.nav-name {
  font-family: "Ropa Sans", sans-serif;
  color: #fd6a00;
  font-size: 40px;
}

.nav-name .nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav-name h2 {
  letter-spacing: 6px;
  margin-right: 20px;
  opacity: 0;
  color: #ffba0d;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 1080px) {
  .nav-name h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-height: 499px) {
  .nav-name h2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-name h2 {
    font-size: 18px;
    letter-spacing: 3.2px;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 360px) {
  .nav-name h2 {
    font-size: 16px;
    margin-bottom: 2px;
    letter-spacing: 2.6px;
  }
}

.nav-name h1 {
  opacity: 0;
  text-decoration: none;
  color: #fd6a00;
  padding: 20px 0;
  font-size: 160px;
  width: 300px;
  line-height: 140px;
  margin-top: -20px;
  cursor: pointer;
}

@media only screen and (max-width: 1080px) {
  .nav-name h1 {
    color: #fd6a00;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    line-height: 40px;
    font-size: 40px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media only screen and (max-height: 499px) {
  .nav-name h1 {
    color: #fd6a00;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    line-height: 40px;
    font-size: 40px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media only screen and (max-width: 600px) {
  .nav-name h1 {
    font-size: 30px;
    line-height: 25px;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .nav-name h1 {
    font-size: 26px;
    line-height: 25px;
    margin-top: 12px;
  }
}

.nav-name a {
  text-decoration: none;
}

.nav-name-general {
  position: relative;
  opacity: 0;
  font-family: "Ropa Sans", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-name-general .nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 360px) {
  .nav-name-general .nav-title {
    width: 120px;
  }
}

.nav-name-general h2 {
  letter-spacing: 3px;
  margin-right: 10px;
  font-size: 20px;
  color: #ffba0d;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 1080px) {
  .nav-name-general h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .nav-name-general h2 {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 360px) {
  .nav-name-general h2 {
    font-size: 16px;
    margin-bottom: 2px;
  }
}

.nav-name-general a {
  text-decoration: none;
}

.nav-name-general h1 {
  color: #fd6a00;
  text-decoration: none;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  line-height: 40px;
  font-size: 40px;
}

@media only screen and (max-width: 600px) {
  .nav-name-general h1 {
    font-size: 30px;
    line-height: 25px;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 360px) {
  .nav-name-general h1 {
    font-size: 26px;
    line-height: 25px;
    margin-top: 12px;
  }
}

.nav-links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-links a, .nav-links .project-nav-link {
  font-family: "Ropa Sans", sans-serif;
  color: #fd6a00;
  font-size: 22px;
  margin-left: 40px;
  height: 30px;
  padding-bottom: 15px;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 6px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-links a:hover, .nav-links .project-nav-link:hover {
  border-bottom: 6px solid #ffba0d;
}

@media only screen and (max-width: 1080px) {
  .nav-links {
    display: none;
  }
}

.project-nav-link {
  padding-bottom: 60px !important;
  max-width: 65px;
  position: relative;
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  left: 40px;
  top: 32px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.project-links a {
  font-size: 18px;
  position: relative;
  color: #fd6a00;
  margin: 0;
  border-bottom: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.project-links a:hover {
  color: #ffba0d;
}

.project-links-container {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.project-page-link {
  border-bottom: none !important;
}

.mobile-nav-links {
  display: none;
  margin-top: 18px;
  cursor: pointer;
  z-index: 12;
}

.mobile-nav-links div {
  height: 2px;
  border-radius: 4px;
  margin-bottom: 4px;
  width: 24px;
  background-color: #fd6a00;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1080px) {
  .mobile-nav-links {
    display: block;
  }
}

.mobile-nav-links-fixed {
  position: fixed;
  right: 80px;
}

@media only screen and (max-width: 800px) {
  .mobile-nav-links-fixed {
    right: 60px;
  }
}

@media only screen and (max-width: 499px) {
  .mobile-nav-links-fixed {
    right: 40px;
  }
}

.homepage-header-nav-link {
  margin-top: -115px;
}

.askew-15 {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.askew-n15 {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.offCenter {
  margin-top: -300px !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.centered {
  margin-top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mobile-nav-expanded {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  height: 100vh;
  background-color: #ffba0d;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  z-index: 10;
  overflow: hidden;
}

.mobile-nav-expanded-visible {
  width: 100vw;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile-nav-btn-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 50%;
  top: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-height: 650px) and (min-width: 550px) {
  .mobile-nav-btn-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80vw;
  }
}

@media only screen and (max-height: 500px) {
  .mobile-nav-btn-container {
    height: 50vh;
    margin-top: 5vh;
  }
}

.mobile-nav-btn {
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

.mobile-nav-btn:hover a {
  border-bottom: 6px solid white;
}

.mobile-nav-btn a {
  color: white;
  font-family: "Cairo", sans-serif;
  font-size: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  padding-bottom: 20px;
  border-bottom: 6px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.top-mobile-div {
  -webkit-transform: rotate(45deg) translateY(7.5px) translateX(-0.2px);
          transform: rotate(45deg) translateY(7.5px) translateX(-0.2px);
  background-color: white !important;
}

.center-mobile-div {
  opacity: 0;
}

.bottom-mobile-div {
  -webkit-transform: rotate(-45deg) translateY(-8.5px) translateX(1.5px);
          transform: rotate(-45deg) translateY(-8.5px) translateX(1.5px);
  background-color: white !important;
}

.homepage-about {
  margin: 30px 0 0 0;
  min-height: 300px;
}

.homepage-about h2 {
  color: #ffba0d;
  font-size: 70px;
  margin-left: 90px;
  line-height: 1.6rem;
  float: left;
  margin-top: -83px;
  padding-top: 50px;
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 1080px) {
  .homepage-about h2 {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .homepage-about h2 {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 499px) {
  .homepage-about h2 {
    margin-left: 40px;
    font-size: 50px;
    margin-top: -76px;
  }
}

.homepage-about-header {
  width: 100%;
  height: 50px;
}

.homepage-about-copy {
  border-top: 3px solid #ffba0d;
  background-color: #ffba0d;
  min-height: 200px;
}

.homepage-about-copy .content {
  padding: 120px 100px 50px 100px;
  max-width: 1400px;
}

@media only screen and (max-width: 1080px) {
  .homepage-about-copy .content p {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .homepage-about-copy .content {
    padding: 120px 60px 50px 60px;
  }
}

@media only screen and (max-width: 499px) {
  .homepage-about-copy .content {
    padding: 60px 40px 50px 40px;
  }
}

.homepage-about-copy h3 {
  font-family: "Ropa Sans", sans-serif;
  color: white;
  margin-bottom: 20px;
}

.homepage-about-copy p {
  width: 80%;
  color: black;
  font-weight: 400;
}

.headshot-container {
  width: 100%;
  height: 450px;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 60px;
}

@media only screen and (max-width: 1080px) {
  .headshot-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80vw;
    max-height: 450px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 499px) {
  .headshot-container {
    height: 70vw;
  }
}

.headshot {
  height: 100%;
  width: auto;
  padding: 0 100px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 1080px) {
  .headshot {
    padding: 0;
  }
}

.homepage-projects {
  width: 100vw;
}

.homepage-projects h2 {
  font-size: 70px;
  color: white;
  margin-top: -118px;
  padding-top: 50px;
  margin-right: 100px;
  line-height: 4.3rem;
  float: right;
}

@media only screen and (max-width: 1080px) {
  .homepage-projects h2 {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .homepage-projects h2 {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 499px) {
  .homepage-projects h2 {
    margin-right: 40px;
    font-size: 50px;
    margin-top: -108px;
  }
}

.homepage-projects .projects-header {
  background-color: transparent;
  padding: 120px 100px 50px 100px;
  text-align: right;
  min-height: 140px;
}

.homepage-projects .projects-header h3 {
  color: #fd6a00;
  margin-bottom: 20px;
}

.homepage-projects .projects-header p {
  color: black;
  width: 80%;
  float: right;
}

.homepage-projects .projects-header a {
  color: #fd6a00;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 1080px) {
  .homepage-projects .projects-header p {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .homepage-projects .projects-header {
    padding: 120px 60px 50px 60px;
  }
}

@media only screen and (max-width: 499px) {
  .homepage-projects .projects-header {
    padding: 60px 40px 50px 40px;
  }
}

.projects-container {
  background-color: white;
  padding-bottom: 100px;
  margin: 0 auto;
}

.project-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 40px;
}

@media only screen and (max-width: 1300px) {
  .project-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 1080px) {
  .project-wrapper {
    padding: 0;
    padding-bottom: 40px;
  }
}

.project-wrapper button {
  border: 2px solid #ffba0d;
}

.project-wrapper button a {
  color: #ffba0d;
}

.project-wrapper button:hover {
  background-color: #ffba0d;
  border: 2px solid #ffba0d;
}

.project-wrapper button:hover a {
  color: white;
}

.projects-page-container .project-wrapper {
  padding-top: 50px !important;
}

.project-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.project-text h4 {
  color: #fd6a00;
  padding-top: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.project-text p {
  padding: 20px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.project-text li {
  list-style-type: square;
  font-family: "Cairo", sans-serif;
  list-style-position: outside;
  margin-left: 22px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .project-text {
    width: 600px;
  }
}

@media only screen and (max-width: 950px) {
  .project-text {
    width: 450px;
  }
}

@media only screen and (max-width: 750px) {
  .project-text {
    width: 350px;
  }
}

@media only screen and (max-width: 499px) {
  .project-text {
    width: 100vw;
    padding: 0 40px;
  }
}

.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

.details-toggle {
  font-weight: 600;
  font-family: "Ropa Sans", sans-serif;
  color: #fd6a00;
  font-size: 20px;
  margin-right: 7px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 !important;
}

.details-toggle-focus {
  color: #ffba0d;
}

.details-toggle-view {
  color: #ffba0d;
}

.chevron {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-top: 4px;
  width: 15px;
}

.open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.project-button-container {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-button-container .project-button {
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 10px;
  background: transparent;
  font-family: "Ropa Sans", sans-serif;
  font-size: 18px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.project-button-container .project-button a {
  text-decoration: none;
  padding: 10px;
}

.project-button-container .view-code {
  margin-right: 20px;
}

.project-button-false {
  pointer-events: none !important;
}

.project-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  padding-top: 60px;
}

.video-wrapper {
  position: relative;
  height: 400px;
  width: 750px;
}

@media only screen and (max-width: 1200px) {
  .video-wrapper {
    width: 600px;
    height: 300px;
  }
}

@media only screen and (max-width: 950px) {
  .video-wrapper {
    width: 500px;
    height: 250px;
  }
}

@media only screen and (max-width: 750px) {
  .video-wrapper {
    width: 400px;
    height: 225px;
  }
}

@media only screen and (max-width: 499px) {
  .video-wrapper {
    width: 280px;
    height: 157.5px;
  }
}

.macbook {
  width: 800px;
  height: 438px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

@media only screen and (max-width: 1200px) {
  .macbook {
    width: 600px;
    height: 328.5px;
  }
}

@media only screen and (max-width: 950px) {
  .macbook {
    width: 500px;
    height: 273.75px;
  }
}

@media only screen and (max-width: 750px) {
  .macbook {
    width: 400px;
    height: 219px;
  }
}

@media only screen and (max-width: 499px) {
  .macbook {
    width: 280px;
    height: 157.5px;
  }
}

.video-bg {
  width: 480px;
  height: 280px;
  position: absolute;
  top: 45px;
  left: 165px;
  background-color: white;
}

@media only screen and (max-width: 1200px) {
  .video-bg {
    width: 370px;
    height: 200px;
    left: 120px;
  }
}

@media only screen and (max-width: 950px) {
  .video-bg {
    width: 300px;
    height: 200px;
    top: 32px;
    left: 100px;
  }
}

@media only screen and (max-width: 750px) {
  .video-bg {
    width: 240px;
    height: 150px;
    top: 28px;
    left: 85px;
  }
}

@media only screen and (max-width: 499px) {
  .video-bg {
    width: 175px;
    height: 100px;
    left: 55px;
    top: 20px;
  }
}

.video {
  width: 465px;
  position: absolute;
  top: 65px;
  left: 175px;
}

@media only screen and (max-width: 1200px) {
  .video {
    width: 360px;
    position: absolute;
    top: 45px;
    left: 125px;
  }
}

@media only screen and (max-width: 950px) {
  .video {
    width: 300px;
    top: 35px;
    left: 105px;
  }
}

@media only screen and (max-width: 750px) {
  .video {
    width: 235px;
    top: 30px;
    left: 85px;
  }
}

@media only screen and (max-width: 499px) {
  .video {
    width: 165px;
    top: 23px;
    left: 60px;
  }
}

.video-shadow {
  width: 463px;
  height: 257px;
  position: absolute;
  top: 65px;
  left: 176px;
  -webkit-box-shadow: inset 0 0 10px;
          box-shadow: inset 0 0 10px;
}

@media only screen and (max-width: 1200px) {
  .video-shadow {
    width: 355px;
    height: 200px;
    top: 45px;
    left: 128px;
  }
}

@media only screen and (max-width: 950px) {
  .video-shadow {
    width: 300px;
    top: 30px;
    left: 100px;
    height: 173px;
  }
}

@media only screen and (max-width: 750px) {
  .video-shadow {
    width: 235px;
    top: 30px;
    height: 135px;
    left: 85px;
  }
}

@media only screen and (max-width: 499px) {
  .video-shadow {
    width: 165px;
    top: 23px;
    left: 60px;
    height: 95px;
  }
}

.project-details {
  padding: 20px 0 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  margin-bottom: 0px !important;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  opacity: 1;
  height: auto;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.project-details-content {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
  .project-details-content {
    width: 600px;
  }
}

@media only screen and (max-width: 950px) {
  .project-details-content {
    width: 450px;
  }
}

@media only screen and (max-width: 750px) {
  .project-details-content {
    width: 350px;
  }
}

@media only screen and (max-width: 499px) {
  .project-details-content {
    width: 100%;
    padding: 0 40px;
  }
}

.project-details-content button {
  border: 2px solid #ffba0d;
}

.project-details-content button a {
  color: #ffba0d;
}

.project-details-content button:hover {
  background-color: #ffba0d;
}

.project-details-content button:hover a {
  color: white;
}

.detail-section {
  margin: 20px 0 40px 0;
  height: auto;
}

@media only screen and (max-height: 529px) and (min-height: 499px) {
  .detail-section {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  .detail-section {
    margin: 20px 0 40px 0px;
  }
}

.detail-section h4 {
  margin-bottom: 20px;
}

.detail-section .list-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail-section li {
  list-style-position: inside;
  font-weight: 600;
  margin-bottom: 10px;
}

.detail-section .list-title {
  color: #fd6a00;
}

.detail-section .list-section-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media only screen and (max-width: 950px) {
  .detail-section .list-section-images {
    margin-bottom: 20px;
  }
}

.detail-section .list-section-images .image-container {
  position: relative;
  width: 800px;
  height: 500px;
  pointer-events: all;
}

@media only screen and (max-width: 1200px) {
  .detail-section .list-section-images .image-container {
    width: 600px;
    height: 400px;
  }
}

@media only screen and (max-width: 950px) {
  .detail-section .list-section-images .image-container {
    width: 60vw;
    height: 0;
    padding-bottom: 65%;
  }
}

.detail-section .list-section-images .image-container img {
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
}

.detail-section .list-section-images .image-container .current-image {
  opacity: 1;
}

.detail-section .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.detail-section .gallery-container img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.detail-section .gallery-container .current-image {
  opacity: 1;
}

.detail-section .gallery-container .current-dot {
  background-color: #fd6a00;
}

.detail-section .dot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.detail-section .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(253, 105, 0, 0.527);
  cursor: pointer;
  margin: 0 5px;
}

.iframe-container {
  height: 450px;
  margin-bottom: 40px;
}

.project-details h4 {
  color: #fd6a00;
}

.hidden-details {
  opacity: 0;
  overflow: hidden;
  height: 0;
}

.hidden-details h4 {
  color: #fd6a00;
}

.tech-details li {
  list-style-position: outside;
  list-style-type: square;
  margin-left: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.bg-container {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
  min-height: 100vh;
  overflow: hidden;
}

.wipeaway {
  position: absolute;
  width: 100vw;
  height: 110vh;
  top: 0;
  background-color: white;
  z-index: -1;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  display: none;
}

.no-fixed {
  background-attachment: scroll !important;
  max-height: 80vh !important;
  min-height: 0 !important;
}

.homepage-bg-1 {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  opacity: .9;
  position: absolute;
  right: 0;
  top: 100px;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 115vh;
  z-index: -2;
  background-image: url("../src/assets/homepage-bg_1.png");
}

@media only screen and (max-width: 1080px) and (min-height: 600px) {
  .homepage-bg-1 {
    background-size: 720px;
  }
}

@media only screen and (max-width: 650px) {
  .homepage-bg-1 {
    background-size: 110vw;
  }
}

@media only screen and (min-height: 1300px) {
  .homepage-bg-1 {
    background-size: 80vh;
  }
}

@media only screen and (max-width: 499px) {
  .homepage-bg-1 {
    background-attachment: scroll;
    background-position-y: top;
    background-size: 400px;
  }
}

@media only screen and (max-height: 499px) {
  .homepage-bg-1 {
    background-attachment: scroll;
    background-size: 400px;
    background-position-y: top;
  }
}

@media only screen and (max-width: 360px) {
  .homepage-bg-1 {
    background-size: 300px;
  }
}

.homepage-bg-2 {
  width: 100vw;
  height: 60vh;
  opacity: .9;
  position: absolute;
  left: -20px;
  top: 0;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50vw;
  z-index: 2;
  background-image: url("../src/assets/homepage-bg_2.png");
}

@media only screen and (max-width: 1200px) and (min-height: 600px) {
  .homepage-bg-2 {
    background-size: 700px;
    left: 0;
  }
}

@media only screen and (max-width: 700px) and (max-height: 450px) {
  .homepage-bg-2 {
    background-size: 50vw;
  }
}

@media only screen and (max-width: 650px) {
  .homepage-bg-2 {
    background-size: 100vw;
    left: 0;
  }
}

@media only screen and (max-height: 650px) and (min-width: 650px) {
  .homepage-bg-2 {
    background-size: 100vh;
    background-position-y: bottom;
  }
}

@media only screen and (max-width: 499px) {
  .homepage-bg-2 {
    background-attachment: scroll;
  }
}

@media only screen and (max-height: 499px) {
  .homepage-bg-2 {
    background-attachment: scroll;
    background-size: 90vh;
  }
}

.homepage-bg-3 {
  width: 100vw;
  height: 60vh;
  opacity: .9;
  position: absolute;
  left: -20px;
  top: 0;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 65vw;
  z-index: 2;
  background-image: url("../src/assets/homepage-bg_3.png");
}

@media only screen and (max-width: 1200px) and (min-height: 600px) {
  .homepage-bg-3 {
    background-size: 700px;
    left: 0;
  }
}

@media only screen and (max-width: 700px) and (max-height: 450px) {
  .homepage-bg-3 {
    background-size: 50vw;
  }
}

@media only screen and (max-width: 650px) {
  .homepage-bg-3 {
    background-size: 100vw;
    left: 0;
  }
}

@media only screen and (max-height: 650px) and (min-width: 650px) {
  .homepage-bg-3 {
    background-size: 100vh;
  }
}

@media only screen and (max-width: 499px) {
  .homepage-bg-3 {
    background-attachment: scroll;
    background-size: 90vw;
  }
}

@media only screen and (max-height: 499px) {
  .homepage-bg-3 {
    background-attachment: scroll;
    background-size: 90vh;
  }
}

.contact-section {
  height: 300px;
}

.contact-section h2 {
  color: white;
  font-size: 70px;
  margin-left: 90px;
  line-height: 1.6rem;
  float: left;
  margin-top: -85px;
  padding-top: 50px;
  border-radius: 10px 10px 0 0;
  z-index: 5;
}

@media only screen and (max-width: 1080px) {
  .contact-section h2 {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 800px) {
  .contact-section h2 {
    margin-left: 60px;
  }
}

@media only screen and (max-width: 499px) {
  .contact-section h2 {
    margin-left: 40px;
    font-size: 50px;
    margin-top: -77px;
  }
}

.contact-section-container {
  padding: 100px 100px 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .contact-section-container {
    padding: 100px 60px 100px 60px;
  }
}

@media only screen and (max-width: 499px) {
  .contact-section-container {
    padding: 80px 50px 80px 50px;
  }
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contact-item a, .contact-item p {
  font-family: "Cairo", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 499px) {
  .contact-item a, .contact-item p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 300px) {
  .contact-item a, .contact-item p {
    font-size: 12px;
  }
}

.contact-icon {
  width: 40px;
  margin-right: 10px;
}

@media only screen and (max-width: 499px) {
  .contact-icon {
    width: 25px;
  }
}

.projects-page .navbar {
  height: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 0;
  background-color: #fd6a00;
}

.projects-page .navbar h1, .projects-page .navbar h2 {
  color: white;
}

.projects-page .navbar a {
  color: white;
}

.projects-page .navbar .project-page-link {
  color: #fd6a00;
}

.projects-page .navbar .project-page-link:hover {
  color: #ffba0d;
}

.projects-page .navbar .project-main-link {
  color: white;
}

.projects-page .navbar .project-main-link:hover {
  color: white;
}

.projects-page .navbar .mobile-nav-links div {
  background-color: white;
}

.projects-page .projects-container {
  background-color: white;
  margin-top: -120px;
  padding-bottom: 300px;
}

.projects-page .projects-container h4, .projects-page .projects-container h3, .projects-page .projects-container li {
  color: #fd6a00;
}

.projects-page .projects-container ul {
  color: black;
}

.projects-page .projects-container .details-section p,
.projects-page .projects-container .list-section p,
.projects-page .projects-container .project-text li {
  color: black;
}

.projects-page .projects-container .project-button {
  border: 2px solid #ffba0d;
}

.projects-page .projects-container .project-button a {
  color: #ffba0d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects-page .projects-container .project-button:hover {
  background-color: #ffba0d;
}

.projects-page .projects-container .project-button:hover a {
  color: white;
}

.projects-page .details-toggle-view {
  color: #ffba0d;
}

.projects-page .tech-details li {
  color: black;
}

.projects-page .project-details {
  margin-bottom: 50px;
  margin-top: 60px;
}

.projects-page-header {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

.projects-page-header h2 {
  font-size: 60px;
  margin-left: 76px;
  color: #fd6a00;
  margin-top: -30px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 800px) {
  .projects-page-header h2 {
    margin-left: 56px;
  }
}

@media only screen and (max-width: 499px) {
  .projects-page-header h2 {
    margin-left: 36px;
  }
}

@media only screen and (max-width: 360px) {
  .projects-page-header h2 {
    font-size: 55px;
    margin-top: -256px;
  }
}

.projects-banner {
  position: relative;
  width: 100vw;
  height: 300px;
  background-color: #fd6a00;
}

@media only screen and (max-height: 400px) {
  .projects-banner {
    height: 250px;
    margin-top: -50px;
  }
}

.projects-bg {
  position: absolute;
  background-image: url("../src/assets/projects-bg.png");
  background-size: 1300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: right;
  background-position-y: 140px;
  opacity: 0.9;
  width: 100vw;
  margin-top: -1px;
  height: 300px;
}

@media only screen and (max-width: 800px) {
  .projects-bg {
    background-size: 200vw;
    background-position-x: -100vw;
  }
}

@media only screen and (max-width: 400px) {
  .projects-bg {
    background-size: 260vw;
    background-position-y: 200px;
    background-position-x: -140vw;
  }
}

@media only screen and (max-height: 400px) {
  .projects-bg {
    background-size: 800px;
    background-position-x: center;
    background-position-y: 100px;
    height: 250px;
  }
}

@media only screen and (max-width: 499px) {
  .projects-bg {
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media only screen and (max-height: 499px) {
  .projects-bg {
    background-attachment: scroll;
    background-position-y: top;
  }
}

.projects-menu-fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
  background-color: #fd6a00;
  z-index: 10;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hashlinks-menu {
  position: relative;
}

.hashlinks-menu .hashlink {
  display: block;
  padding: 10px;
  font-family: "Ropa Sans", sans-serif;
  color: #fd6a00;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hashlinks-menu .hashlink:hover {
  color: #ffba0d;
}

@media only screen and (max-width: 360px) {
  .hashlinks-menu .hashlink {
    font-size: 14px;
  }
}

.hashlinks-menu .current-hash-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hashlinks-menu .current-hash {
  color: white;
  font-size: 24px;
  font-family: "Ropa Sans", sans-serif;
  padding-right: 10px;
}

.hashlinks-menu .current-hash:hover {
  color: white;
}

@media only screen and (max-width: 499px) {
  .hashlinks-menu .current-hash {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .hashlinks-menu .current-hash {
    font-size: 15px;
    padding-right: 5px;
  }
}

.hashlinks-menu .hashlink-focus {
  color: white;
}

.hashlinks-menu .hashlinks-dropdown {
  position: absolute;
  background-color: white;
  min-width: 200px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  top: 32px;
  padding: 5px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.hashlinks-menu .chevron {
  width: 15px;
}

@media only screen and (max-width: 360px) {
  .hashlinks-menu .chevron {
    width: 13px;
  }
}

.filter-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #fd6a00;
  position: relative;
}

.filters {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filters p {
  margin-right: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  padding: 1px 5px;
  font-size: 14px;
  font-family: "Ropa Sans", sans-serif;
}

.filters p:hover {
  border: 1px solid white;
}

@media only screen and (max-width: 1080px) {
  .filters {
    display: none;
  }
}

.clear-filters {
  font-style: italic;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 13px;
  margin-top: -2px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.clear-filters:hover {
  border-bottom: 1px solid white;
}

.selected-filter {
  border: 1px solid white !important;
}

.mobile-filters-container {
  position: absolute;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 32px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 90px;
  padding: 10px;
  right: 0;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-filters-container p {
  margin-right: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 1px 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  font-family: "Ropa Sans", sans-serif;
  color: #fd6a00;
  margin-bottom: 5px;
  cursor: pointer;
}

.mobile-filters-container p:hover {
  border: 1px solid #fd6a00;
}

.mobile-filters-container .selected-filter {
  border: 1px solid #fd6a00 !important;
}

.filter-mobile-icon {
  margin-right: 10px;
  pointer-events: none;
  cursor: default !important;
}

@media only screen and (max-width: 1080px) {
  .filter-mobile-icon {
    pointer-events: all;
    cursor: pointer !important;
    margin-right: 0;
  }
}

.filter-mobile-icon img {
  width: 20px;
  height: auto;
  pointer-events: none;
}

@media only screen and (max-width: 360px) {
  .filter-mobile-icon img {
    width: 15px;
  }
}
/*# sourceMappingURL=index.css.map */